.CompleteCards {
  margin-top: 5vh;
  background-color: #101c16;
  height: 20vh;
  border-radius: 10px;
  padding: 2vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3vh;
  position: relative;
  color: white;
}
.UndoBtn {
  background-color: #1c3e6d;
  border: none;
  border-radius: 7px;
  padding: 7px;
  color: white;
  margin-right: 1.5vh;
}
.CompleteCard_btnSec {
  background-color: #101c16;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.UndoBtn:hover {
  background-color: #2a5592;
}
.CompleteTag {
  font-size: 3vh;
  align-items: center;
  width: 20vh;
  text-align: center;
  position: relative;
  top: -20px;
  left: -20px;
  border-radius: 25px;
}
